%html
	%head 
		%title Consult
	%body
		%h3 Consult
		%P 
			Hello
			= @consult.name 
		%p 
			Your name is 
			= @consult.name
		%p 
			Your email is
			= @consult.email
		%p 
			Your phone is
			= @consult.phone