%section.mainBanner
  .container
%section.container#about
  .row#industy
    %article.span12
      %h2
        ﻿产业前景
      %span
        网络舆情
      %p
        目前互联网已经成为政府行政部门和党政工作者了解社情民意的一种重要渠道。网络舆情正在成为政府行政部门或者企业决策的重要依据。因此新形势下，在每次突发性事件发生后，政府和企业相关职能部门如何以最快速度收集网上相关舆情信息，跟踪事态发展，及时向有关部门通报，快速应对处理等，是一个亟需解决问题。互联网时代，“人人都有麦克风”，互联网给每个党政干部头顶安装了一个“摄像头”。中国老百姓只要鼠标轻点，就和总书记在一起了。每个单位里都有隐形记者！每位领导头顶都有摄像头！网络复杂，人言可畏。防言于网，胜于防川。
      %span
        网络采集
      %p
        网络采集、数据挖掘在各领域的应用非常广泛，只要该产业拥有具分析价值与需求的数据仓储或数据库，皆可利用网络采集工具进行有目的的挖掘分析。而据Gartner的报告也指出，数据挖掘会成为未来10年内重要的技术之一。
      %span
        搜索引擎
      %p
        2010年4月12日，艾瑞咨询今日发布的中国搜索引擎市场份额报告显示，2009年全球搜索引擎市场规模达339.0亿美元。中国搜索引擎市场规模达69.6亿元（约合10.2亿美元），相比2008年的50.3亿元年同比增长38.5%。预计2010年中国搜索引擎市场规模将呈现45%左右的增幅。
  .row#qiye
    .span5
      %article
        %h2
          企业价值
        %p
          WEB2.0时代，网络舆情对企业影响无比迅猛，社会化媒体成为口碑重要平台，旨在维护企业品牌网络安全，洞察口碑管理着力点和方向的华声财讯，凭借社交媒体数据采集和分析和声誉管理的实力，为一大批世界500强企业和政府机构提供了快全准的信息采集、舆情监测、预警预测、危机管理及数据分析等服务，获得业界盛赞。
      %article
        %h2
          舆情预警专家
        %p
          多信科技以特定领域企业舆情预警服务为市场切入点，积极采用最先进的网络信息处理手段，构建网络舆情应用平台。在此基础上充分发挥高端信息应用人才优势，打造网络经济环境下新的信息内容服务形式与服务品牌，构建在网络信息环境下的服务体系和企业发展战略体系。
      %article
        %h2
          企业竞争力
        %p
          多信科技在业界独家提出Checking（自检）-Listening（倾听）-Interaction（互动）-Crisis（危机）-Kindling（激发）构筑的CLICK信息服务攻防体系，可多管齐下综合解决企业信息服务需求，为企业提供“舆情+口碑”整合解决方案。
    .span6.offset1
      %article
        %h2
          企业定位
        %p
          多信科技是满足特定市场的专家型企业。我们定位于“舆情预警专家，口碑管理顾问”，旨在洞悉全网信息，挖掘数据真相，致力为企业和政府机构提供端到端、一站式的社会化商务解决方案。
      %article
        %h2
          口碑管理顾问
        %p
          多信科技应用互联网的信息传播技术与平台，通过策划实施等手段促进消费者以文字等表达方式为载体的口碑信息，其中包括企业与消费者之间的互动信息，为企业营销开辟新的通道，让人们通过口碑了解产品、树立品牌、加强市场认知度，最终达到企业销售产品和提供服务的目的。