%section.mainBanner
  %div#mainCarousel.container
    .slide
      %article
        %header
          %h2 天网舆情系统介绍
       
    .slide
      %img{:src=>"/assets/cases/cases1.jpg"}
    .slide
      %img{:src=>"/assets/cases/cases2.jpg"}
    .slide
      %img{:src=>"/assets/cases/cases3.jpg"}
%section#carouselPagesWarper
  #carouselPages