%section.mainBanner
  .container
%section#gaishu.container
  .row
    %article.span5
      %h2
        天网舆情监测系统概述：
      %p
        随着信息传播方式的多元化尤其是社会化媒体的兴起，巨大的社会需求催生了舆情监测这一热门产业。天网舆情是国内网络舆情监测行业的领军者及高端品牌。多信科技凭借在社交媒体数据采集和分析领域的实力，结合云计算、大数据时代的发展趋势，植根市场需求，推出了SAAS应用服务模式的新一代企业舆情监测系统。为客户量身打造全媒体时代的防御利器，把握数据挖掘和业务情报产业的先机。现已为一大批世界500强企业和政府机构提供了信息采集、监测分析、预警预测、危机管理及海量信息处理等服务，获得广泛赞誉。
    %figure
      %img{:src=>"/assets/services/products.png"}
%section.container#youshi
  %h2
    天网舆情监测系统优势：
  %p
    %span
      全网布控
    提供监测平媒电子版、网络新闻、论坛、博客、微博等网络媒介类型数据，并可根据用户需求对指定SMS、图片、问答、股吧、播客等监测。
  %p
    %span
      高效采集
    利用独有爬虫技术，能根据预定的监控关键词在数分钟内发现并采集近20万网站，实现监测数据全与及时的完美结合。
  %p
    %span
      分类处理
    科学的数据处理流程，原始字段自动解析、客观属性自动分类、主观定义自然语义处理加人工修正等多方式分类整理成清晰易懂的内容。
  %p
    %span
      实时监测
    系统7*24小时不间断运行，按用户习惯方式组合舆情内容，数据图表可视化呈现舆情状况，让用户灵活驾驭看得明白。
  %p
    %span
      及时预警
    采用WWW、WAP、短信、邮件相结合的综合服务模式，突破时间和空间局限，随时把握舆情动态，打造高效的预警机制。
  %p
    %span
      深度分析
    多维度数据查询、多角度图表分析、多类别舆情信息对比，舆情指数、品牌影响、竞争状况及发展趋势了如指掌。
  %p
    %span
      舆情报告
    客户根据自己需求定制报告模版，建立舆情自动汇总分析报告，对数据进行准确的数理统计与舆情信息全面呈现。
  %p
    %span
      对手监测
    客户在监测企业自身舆情信息之外，同时能够密切监测竞争对手动态、举措，为企业市场、行销决策提供数据支撑
  %p
    %span
      个性方案
    基于监控服务，协助处理公共关系事务，提升客户品牌知名度、美誉度，由专业咨询公司为客户提供针对性咨询建议以及全面的互联网行销解决方案。
  %p
    %span
      服务模式
    提供基于Web的客户端，无需购买、构建和维护基础设施和应用程序，节省客户精力与费用，降低用户接受服务门槛。