/ begin global aside include system menu
%aside#globalAside
  %nav.systemNav
    %ul.systemNavList
      %li
        %a{:href => "#"}
          %span#systemNavIcon1.navIcon.spritebg
          %span.sysNavChn 系统首页
          %span.sysNavEng Systems Home
          %span.infoNum
      %li
        %a{:href => "#"}
          %span#systemNavIcon2.navIcon.spritebg
          %span.sysNavChn 舆情文章
          %span.sysNavEng Public Opinion
          %span.infoNum 23
      %li
        %a{:href => "#"}
          %span#systemNavIcon3.navIcon.spritebg
          %span.sysNavChn 敏感信息
          %span.sysNavEng Sensitive Information
          %span.infoNum 8
      %li
        %a{:href => "#"}
          %span#systemNavIcon4.navIcon.spritebg
          %span.sysNavChn 分析报告
          %span.sysNavEng Feasibility Report
          %span.infoNum
      %li
        %a{:href => ""}
          %span#systemNavIcon5.navIcon.spritebg
          %span.sysNavChn 专题监控
          %span.sysNavEng Customized Monitoring
          %span.infoNum