#lastestUpdate
  %ul.tab-items
    %li
      %a{:href => "#tab1", onFocus: "this.blur()" } 最新舆情
    %li
      %a{:href => "#tab2", onFocus: "this.blur()" } 最新预警
  .tab-content
    #tab1.tab-pane
      .lastestWeiboArticle.lastestYQ
        %header
          %h3
          %span
            %img{:alt => "", :src => "/assets/weiboLogo.png"}/
        %p
        %span.lastestData
          %a.closeLastestBtn{:href => "#"}
            %svg( version="1.1" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16")
              %path(fill-rule="evenodd" clip-rule="evenodd" fill="#CCCCCC" d="M 10.946151,3.8665304 8.0141626,6.7982747 5.064089,3.8484463 3.8874639,5.0239099 6.8375375,7.9737382 3.8874639,10.92463 5.0630252,12.101158 8.0130987,9.1513293 10.945087,12.083074 12.120648,10.906546 9.1907876,7.974802 12.122776,5.0430577 z M 13.65792,2.3432148 c -3.124546,-3.12428637 -8.1895656,-3.12428637 -11.3141116,0 -3.12560978,3.1242863 -3.12454593,8.1888852 0,11.3131712 3.124546,3.12535 8.1885016,3.124287 11.3130476,0 3.123483,-3.12535 3.124546,-8.1899487 0.0011,-11.3131712 z")
    #tab2.tab-pane
      .lastestWeiboArticle.lastestYJ
        %header
          %h3
          %span
            %img{:alt => "", :src => "/assets/weiboLogo.png"}/
        %p
        %span.lastestData
          %a.closeLastestBtn{:href => "#"}
            %svg( version="1.1" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16")
              %path(fill-rule="evenodd" clip-rule="evenodd" fill="#CCCCCC" d="M 10.946151,3.8665304 8.0141626,6.7982747 5.064089,3.8484463 3.8874639,5.0239099 6.8375375,7.9737382 3.8874639,10.92463 5.0630252,12.101158 8.0130987,9.1513293 10.945087,12.083074 12.120648,10.906546 9.1907876,7.974802 12.122776,5.0430577 z M 13.65792,2.3432148 c -3.124546,-3.12428637 -8.1895656,-3.12428637 -11.3141116,0 -3.12560978,3.1242863 -3.12454593,8.1888852 0,11.3131712 3.124546,3.12535 8.1885016,3.124287 11.3130476,0 3.123483,-3.12535 3.124546,-8.1899487 0.0011,-11.3131712 z")
