#lastestUpdate
  %ul.tab-items
    %li
      %a{:href => "#tab1", onFocus: "this.blur()" } 最新舆情
    %li
      %a{:href => "#tab2", onFocus: "this.blur()" } 最新预警
  .tab-content
    #tab1.tab-pane
      .lastestWeiboArticle
        %header
          %h3 @lastestWeiboArticle[1].title
          %span
            %img{:alt => "", :src => "assets/weiboLogo.png"}/
        %p= @lastestWeiboArticle[1]
        %span @lastestWeiboArticle[1].updated_at
      %a.closeLastestBtn.spritebg{:href => "#"}
    #tab2.tab-pane
      .lastestWeiboArticle
        %header
          %h3 @lastestWeiboArticle[2].title
          %span
            %img{:alt => "", :src => "assets/weiboLogo.png"}/
        %p= @lastestWeiboArticle[2]
        %span @lastestWeiboArticle[1].updated_at
      %a.closeLastestBtn.spritebg{:href => "#"}
