#lastestUpdate
  %ul.tab-items
    %li
      %a{:href => "#tab1"} 最新舆情
    %li
      %a{:href => "#tab2"} 最新预警
  .tab-content
    #tab1.tab-pane
      .lastestWeiboArticle
        %header
          %h3 Extend the life of the vehicle driving skills
          %span
            %img{:alt => "", :src => "assets/weiboLogo.png"}/
        %p The various operating conditions of the engine load is the most fuel CUHK's it. The roads in the city, crowded road vehicles often need start parking the vehicle inadvertently consume a lot of fuel. Therefore, before each trip, the driver should develop a good road program, to understand the situation by road, try to avoid rush hour through the busy road to avoid traffic jams and wasted fuel and time.
        %span 06-06 07:01
      %a.closeLastestBtn.spritebg{:href => "#"}
    #tab2.tab-pane
      .lastestWeiboArticle
        %header
          %h3 Extend the life of the vehicle driving skills2
          %span
            %img{:alt => "", :src => "assets/weiboLogo.png"}/
        %p The various operating conditions of the engine load is the most fuel CUHK's it. The roads in the city, crowded road vehicles often need start parking the vehicle inadvertently consume a lot of fuel. Therefore, before each trip, the driver should develop a good road program, to understand the situation by road, try to avoid rush hour through the busy road to avoid traffic jams and wasted fuel and time.
        %span 06-06 07:01
      %a.closeLastestBtn.spritebg{:href => "#"}
