#lastestUpdate
  %ul.tab-items
    %li
      %a{:href => "#tab1", onFocus: "this.blur()" } 最新舆情
    %li
      %a{:href => "#tab2", onFocus: "this.blur()" } 最新预警
  .tab-content
    #tab1.tab-pane
      .lastestWeiboArticle
        %header
          %h3= @weibo_yq.last['text']
          %span
            %img{:alt => "", :src => "assets/weiboLogo.png"}/
        %p= link_to @weibo_yq.last['content'], @weibo_yq.last['url'], target: '_blank'
        %span=@weibo_yq.last['published_at']
      %a.closeLastestBtn.spritebg{:href => "#"}
    #tab2.tab-pane
      .lastestWeiboArticle
        %header
          %h3= @weibo_yj.last['text']
          %span
            %img{:alt => "", :src => "assets/weiboLogo.png"}/
        %p= @weibo_yj.last['content']
        %span=@weibo_yj.last['published_at']
      %a.closeLastestBtn.spritebg{:href => "#"}
