%section#customizedMonitoringBlock
  #brandTitleBlock
    %ul
      %li
        %a.selected{:href=>"#"} 昌河铃木
      %li
        %a{:href=>"#"} 北斗星E
      %li
        %a{:href=>"#"} 派喜
      %li
        %a{:href=>"#"} 利亚纳
      %li
        %a{:href=>"#"} 乐驰
      %li
        %a{:href=>"#"} 长安CA20
      %li
        %a{:href=>"#"} 五菱宏光
      %li
        %a{:href=>"#"} 欧力威
      %li
        %a{:href=>"#"} 测试
    #titleListBtnGroup
      %a#listBrandBtn{:href=>"#"}
        %span#toLeftArrow
      %a#listBrandBtn{:href=>"#"}
        %span#toRightArrow
        
  #filterConditionBlock
    %section#selectedCondition
      %h5 您的筛选条件：
      %ul
        %li 待审状态
        %li 全部类型
        %li 3天
        %li 全部调性
        %li 清空

    #conditionList
      %article
        %h5 信息状态：
        %ul
          %li 
            %a.selected{:href=>"#"} 待审
          %li 
            %a{:href=>"#"} 通过
          %li 
            %a{:href=>"#"} 删除
          %li 
            %a{:href=>"#"} 全部
      %article
        %h5 媒介类型：
        %ul
          %li 
            %a.selected{:href=>"#"} 全部
          %li 
            %a{:href=>"#"} 新闻
          %li 
            %a{:href=>"#"} 论坛
          %li 
            %a{:href=>"#"} 博客
          %li 
            %a{:href=>"#"} 微博
          %li 
            %a{:href=>"#"} 贴吧
      %article
        %h5 时间：
        %ul
          %li 
            %a.selected{:href=>"#"} 当日
          %li 
            %a{:href=>"#"} 昨天
          %li 
            %a{:href=>"#"} 3天
          %li 
            %a{:href=>"#"} 7天
          %li 
            %a{:href=>"#"} 15天
          %li 
            %a{:href=>"#"} 30天
          %li 
            %a{:href=>"#"} 自定义
      %article
        %h5 调性：
        %ul
          %li 
            %a.selected{:href=>"#"} 全部
          %li 
            %a{:href=>"#"} 正值
          %li 
            %a{:href=>"#"} 中性
          %li 
            %a{:href=>"#"} 负面
  %div#slideUpBtn
    %a{:href=>"#"} 收起

  #tableFilterBlock
    %ul
      %li
        %a.selected{:href=>"#"} 
          时间          
          %span.dropDownArrow
      %li
        %a{:href=>"#"} 
          标题          
          %span.dropDownArrow
      %li
        %a{:href=>"#"}
          点击
          %span.dropDownArrow
      %li
        %a{:href=>"#"}
          评论
          %span.dropDownArrow
      %li
        %a.longLink{:href=>"#"}
          预警级别
          %span.dropDownArrow
      %li
        %a{:href=>"#"}
          网站
          %span.dropDownArrow
    %form#searchForm
      %label{:for=>"searchCondition"} 搜索条件：
      %select#searchCondition{:name=>"searchCondition"}
        %option Sydney
        %option Shanghai
      %input#searchInput{:name=>"searchKeyword"}

  .tablePaginationBlock
    %ul
      %li
        %a.prevPageBtn{:href=>"#"}
      %li
        %a{:href=>"#"} 1
      %li
        %a{:href=>"#"} 2
      %li
        %a.next10PageBtn{:href=>"#"}
          %span.pageUpArrow
      %li
        %a.nextPageBtn{:href=>"#"}
    %span
      %em 0
      条记录 ／ 
      %b 0
      页

  %table#dataTable
    %thead
      %th#th1 全选
      %th#th2 序号
      %th#th3 标题
      %th#th4 调性
      %th#th5 点击／转发
      %th#th6 评论
      %th#th7 网站
      %th#th8 发帖时间
      %th#th9 操作
    %tbody
      %tr
        %td
          %span.chartIcon
          %input{:type=>"checkbox"}
        %td
          1
        %td
          %p.dataTitle
            Out of the same door, but personality is different,
          %span.textNum 245
        %td
          无
        %td
          0
        %td
          0
        %td
          汽车之家
        %td.postTime
          2006-6-1 12:36:00 PM
        %td
          %a.tableOperate{:href=>"#"}
      %tr.evenline
        %td
          %span.chartIcon
          %input{:type=>"checkbox"}
        %td
          2
        %td
          %p.dataTitle
            Out of the same door, but personality is different,
        %td
          无
        %td
          0
        %td
          0
        %td
          汽车之家
        %td.postTime
          2006-6-1 12:36:00 PM
        %td
          %a.tableOperate{:href=>"#"}
      %tr
        %td
          %span.chartIcon
          %input{:type=>"checkbox"}
        %td
          3
        %td
          %p.dataTitle
            Out of the same door, but personality is different,
        %td
          无
        %td
          0
        %td
          0
        %td
          汽车之家
        %td.postTime
          2006-6-1 12:36:00 PM
        %td
          %a.tableOperate{:href=>"#"}
      %tr.evenline
        %td
          %span.chartIcon
          %input{:type=>"checkbox"}
        %td
          4
        %td
          %p.dataTitle
            Out of the same door, but personality is different,
        %td
          无
        %td
          0
        %td
          0
        %td
          汽车之家
        %td.postTime
          2006-6-1 12:36:00 PM
        %td
          %a.tableOperate{:href=>"#"}
      %tr
        %td
          %span.chartIcon
          %input{:type=>"checkbox"}
        %td
          5
        %td
          %p.dataTitle
            Out of the same door, but personality is different,
        %td
          无
        %td
          0
        %td
          0
        %td
          汽车之家
        %td.postTime
          2006-6-1 12:36:00 PM
        %td
          %a.tableOperate{:href=>"#"}
  .dateOperateBlock
    %span
      %input{:type=>"checkbox"}
    %span 全选
    %ul
      %li
        %a{:href=>"#"} 批量导出（EXCEL）
      %li
        %a{:href=>"#"} 建立导出计划
      %li
        %a{:href=>"#"} 批量修改
      %li
        %a{:href=>"#"} 批量删除
      %li
        %a{:href=>"#"} 批量加入报告
      %li
        %a{:href=>"#"} 批量加入收藏
      %li
        %a{:href=>"#"} 批量发送预警

  .tablePaginationBlock
    %ul
      %li
        %a.prevPageBtn{:href=>"#"}
      %li
        %a{:href=>"#"} 1
      %li
        %a{:href=>"#"} 2
      %li
        %a.next10PageBtn{:href=>"#"}
          %span.pageUpArrow
      %li
        %a.nextPageBtn{:href=>"#"}
    %span
      %em 0
      条记录 ／ 
      %b 0
      页

  %ul.floatPageSelector
    %li.first10Page
      %a{:href=>"#"} 20 - 30
    %li
      %a{:href=>"#"} 10 - 20
    %li.last10Page
      %a{:href=>"#"} 40 - 50
    %li.noBorderAndBG
      %span.dropDownArrow

  #floatTableOperateDiv
    %span.dropDownArrow
    %ul
      %li
        %span#iconAlert
        %p 发送预警
      %li
        %span#iconHeart
        %p 加入收藏
      %li
        %span#iconUpload
        %p 信息置顶
      %li
        %span#iconStar
        %p 设置热门
      %li
        %span#iconSearch
        %p#threeLetter 
          命中
          %br
          关键词
      %li
        %span#iconBubble
        %p 添加备注
      %li
        %span#iconCross
        %p 删除信息



