#moreInfoBlock
  %section#otherChartBlock
    %section#qbdxChartBlock
      %header
        %h2 全部调性
      %section.chartTabs
        %ul
          %li
            %a#qbdxChartTab1.radiusBtn.currentChartTabBtn{:href => ""} 今天
          %li
            %a#qbdxChartTab2.radiusBtn.chartTabBtn{:href => ""} 昨天
          %li
            %a#qbdxChartTab3.radiusBtn.chartTabBtn{:href => ""} 15天
      %section.pieChartSection
        .pieChartWarp
          #qbdxPieChart
        .otherChartInfo
          %figure.dnp
            %a.downloadBtn.radiusBtn{:href => "#"}
            %a.printBtn.radiusBtn{:href => "#"}
          %table
            %thead
        %td
        %th{:scope => "col"} 今天
        %th{:scope => "col"} 昨天
        %th{:scope => "col"} 15天
        %tbody
          %tr.evenRow
            %th{:scope => "row"} 正面
            %td 28
            %td 166
            %td 1350
          %tr
            %th{:scope => "row"} 负面
            %td 9
            %td 29
            %td 481
          %tr.evenRow
            %th{:scope => "row"} 中性
            %td 12
            %td 1
            %td 167
        %ul
          %li
            %span.spanDot.dotRed>
            正面 70%
          %li
            %span.spanDot.dotGrey>
            中性 25%
          %li
            %span.spanDot.dotDeepRed>
            负面 5%
    %section#mediaChartBlock
      %header
        %h2 媒体类型
      %section.chartTabs
        %ul
          %li
            %a#mediaChartTab1.radiusBtn.currentChartTabBtn{:href => ""} 今天
          %li
            %a#mediaChartTab2.radiusBtn.chartTabBtn{:href => ""} 昨天
          %li
            %a#mediaChartTab3.radiusBtn.chartTabBtn{:href => ""} 15天
      %section.pieChartSection
        .pieChartWarp
          #mediaPieChart
        .otherChartInfo
          %figure.dnp
            %a.downloadBtn.radiusBtn{:href => "#"}
            %a.printBtn.radiusBtn{:href => "#"}
          %table
            %thead
        %td
        %th{:scope => "col"} 今天
        %th{:scope => "col"} 昨天
        %th{:scope => "col"} 15天
        %tbody
          %tr.evenRow
            %th{:scope => "row"} 新闻
            %td 28
            %td 166
            %td 1350
          %tr
            %th{:scope => "row"} 论坛
            %td 9
            %td 29
            %td 481
          %tr.evenRow
            %th{:scope => "row"} 博客
            %td 12
            %td 1
            %td 167
          %tr
            %th{:scope => "row"} 微博
            %td 12
            %td 1
            %td 167
        %ul
          %li
            %span.spanDot.dotRed>
            新闻
          %li
            %span.spanDot.dotGrey>
            论坛
          %li
            %span.spanDot.dotDeepRed>
            博客
          %li
            %span.spanDot.dotDeepGrey>
            微博
          %li
            %span.spanDot.dotDarkGrey>
            贴吧
  %section#top10ChartBlock
    %header
      %h2 网站 TOP10
    %section.chartTabs
      %ul
        %li
          %a#top10ChartTab1.radiusBtn.currentChartTabBtn{:href => "#"} 今天
        %li
          %a#top10ChartTab2.radiusBtn.chartTabBtn{:href => "#"} 昨天
        %li
          %a#top10ChartTab3.radiusBtn.chartTabBtn{:href => "#"} 15天
    %figure.dnp
      %a.downloadBtn.radiusBtn{:href => "#"}
      %a.printBtn.radiusBtn{:href => "#"}
    #top10ChartWarp
      #top10Chart
  #weiboTable
    %ul.tab-items
      %li
        %a{:href => "#table1"} 微博舆情
      %li
        %a{:href => "#table2"} 负面微博
      %li
        %a{:href => "#table3"} 最热传播
      %li
        %a{:href => "#table4"} 最热评论
    .tab-content
      #table1.tab-pane
        %table
          %thead
            %td
            %th.darkGreyThBg{:scope => "col"} 内容
            %th{:scope => "col"} 媒体
            %th{:scope => "col"} 时间
            %td
          %tbody
            %tr.evenRow
              %th
                %span.weiboIcon16.spritebg
              %td.weiboTableContent Out of the same door, but personality is different, Changhe Suzuki camp hi pass wonderful
              %td Weibo
              %td.weiboTimeTd 2006-6-1 12:36:00 PM
              %td
                %a.closeLastestBtn.spritebg{:href => ""}
            %tr
              %th
                %span.weiboIcon16.spritebg
              %td.weiboTableContent Out of the same door, but personality is different, Changhe Suzuki camp hi pass wonderful
              %td Weibo
              %td.weiboTimeTd 2006-6-1 12:36:00 PM
              %td
                %a.closeLastestBtn.spritebg{:href => ""}
            %tr.evenRow
              %th
                %span.weiboIcon16.spritebg
              %td.weiboTableContent Out of the same door, but personality is different, Changhe Suzuki camp hi pass wonderful
              %td Weibo
              %td.weiboTimeTd 2006-6-1 12:36:00 PM
              %td
                %a.closeLastestBtn.spritebg{:href => ""}
            %tr
              %th
                %span.weiboIcon16.spritebg
              %td.weiboTableContent Out of the same door, but personality is different, Changhe Suzuki camp hi pass wonderful
              %td Weibo
              %td.weiboTimeTd 2006-6-1 12:36:00 PM
              %td
                %a.closeLastestBtn.spritebg{:href => ""}
            %tr.evenRow
              %th
                %span.weiboIcon16.spritebg
              %td.weiboTableContent Out of the same door, but personality is different, Changhe Suzuki camp hi pass wonderful
              %td Weibo
              %td.weiboTimeTd 2006-6-1 12:36:00 PM
              %td
                %a.closeLastestBtn.spritebg{:href => ""}
            %tr
              %th
                %span.weiboIcon16.spritebg
              %td.weiboTableContent Out of the same door, but personality is different, Changhe Suzuki camp hi pass wonderful
              %td Weibo
              %td.weiboTimeTd 2006-6-1 12:36:00 PM
              %td
                %a.closeLastestBtn.spritebg{:href => ""}
      #table2.tab-pane
      #table3.tab-pane
      #table4.tab-pane