%section#otherChartBlock
  %section#qbdxChartBlock
    %header
      %h2 全部调性
    %section.chartTabs
      %ul
        %li
          %a#qbdxChartTab1.radiusBtn.currentChartTabBtn{:href => ""} 今天
        %li
          %a#qbdxChartTab2.radiusBtn.chartTabBtn{:href => ""} 昨天
        %li
          %a#qbdxChartTab3.radiusBtn.chartTabBtn{:href => ""} 15天
    %section.pieChartSection
      .pieChartWarp
        #qbdxPieChart
      .otherChartInfo
        %figure.dnp
          %a.downloadBtn.radiusBtn{:href => "#"}
            %svg( version="1.1" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16")
              %path(fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M13,16H3c-1.657,0-3-1.343-3-3v-3l3.444-3.445C3.567,6.756,3.708,6.948,3.879,7.12l0.916,0.916L2,11h3v1c0,0.553,0.448,1,1,1h4c0.553,0,1-0.447,1-1v-1h3l-2.795-2.964l0.916-0.916c0.172-0.172,0.312-0.364,0.435-0.564L16,10v3C16,14.657,14.657,16,13,16z M8.707,7.706C8.512,7.901,8.256,7.999,8,7.999S7.488,7.901,7.293,7.706l-2-2C5.008,5.42,4.922,4.99,5.076,4.616C5.23,4.243,5.596,4,6,4h1V1c0-0.552,0.448-1,1-1s1,0.448,1,1v3h1c0.404,0,0.77,0.244,0.924,0.617c0.154,0.374,0.069,0.803-0.217,1.089L8.707,7.706z")
          %a.printBtn.radiusBtn{:href => "#"}
            %svg( version="1.1" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16")
              %path(fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M13,14v1c0,0.553-0.447,1-1,1H4c-0.553,0-1-0.447-1-1v-1c-1.657,0-3-1.343-3-3V8c0-1.657,1.343-3,3-3V1c0-0.552,0.447-1,1-1h8c0.553,0,1,0.448,1,1v4c1.657,0,3,1.343,3,3v3C16,12.657,14.657,14,13,14z M4,15h8v-4H4V15zM12,1H4v4h1V2h6v3h1V1z M6,3v2h4V3H6z M12,7h-1v1h1V7z M12,9H4c-1.104,0-2,0.896-2,2v1h1v-1c0-0.553,0.447-1,1-1h8c0.553,0,1,0.447,1,1v1h1v-1C14,9.896,13.104,9,12,9z M14,7h-1v1h1V7z")
        %table
          %thead
            %td
            %th{:scope => "col"} 今天
            %th{:scope => "col"} 昨天
            %th{:scope => "col"} 15天
          %tbody
            %tr.evenRow
              %th{:scope => "row"} 正面
              %td 28
              %td 166
              %td 1350
            %tr
              %th{:scope => "row"} 负面
              %td 9
              %td 29
              %td 481
            %tr.evenRow
              %th{:scope => "row"} 中性
              %td 12
              %td 1
              %td 167
        %ul
          %li
            %span.spanDot.dotRed>
            正面 70%
          %li
            %span.spanDot.dotGrey>
            中性 25%
          %li
            %span.spanDot.dotDeepRed>
            负面 5%
  %section#mediaChartBlock
    %header
      %h2 媒体类型
    %section.chartTabs
      %ul
        %li
          %a#mediaChartTab1.radiusBtn.currentChartTabBtn{:href => ""} 今天
        %li
          %a#mediaChartTab2.radiusBtn.chartTabBtn{:href => ""} 昨天
        %li
          %a#mediaChartTab3.radiusBtn.chartTabBtn{:href => ""} 15天
    %section.pieChartSection
      .pieChartWarp
        #mediaPieChart
      .otherChartInfo
        %figure.dnp
          %a.downloadBtn.radiusBtn{:href => "#"}
            %svg( version="1.1" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16")
              %path(fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M13,16H3c-1.657,0-3-1.343-3-3v-3l3.444-3.445C3.567,6.756,3.708,6.948,3.879,7.12l0.916,0.916L2,11h3v1c0,0.553,0.448,1,1,1h4c0.553,0,1-0.447,1-1v-1h3l-2.795-2.964l0.916-0.916c0.172-0.172,0.312-0.364,0.435-0.564L16,10v3C16,14.657,14.657,16,13,16z M8.707,7.706C8.512,7.901,8.256,7.999,8,7.999S7.488,7.901,7.293,7.706l-2-2C5.008,5.42,4.922,4.99,5.076,4.616C5.23,4.243,5.596,4,6,4h1V1c0-0.552,0.448-1,1-1s1,0.448,1,1v3h1c0.404,0,0.77,0.244,0.924,0.617c0.154,0.374,0.069,0.803-0.217,1.089L8.707,7.706z")
          %a.printBtn.radiusBtn{:href => "#"}
            %svg( version="1.1" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16")
              %path(fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M13,14v1c0,0.553-0.447,1-1,1H4c-0.553,0-1-0.447-1-1v-1c-1.657,0-3-1.343-3-3V8c0-1.657,1.343-3,3-3V1c0-0.552,0.447-1,1-1h8c0.553,0,1,0.448,1,1v4c1.657,0,3,1.343,3,3v3C16,12.657,14.657,14,13,14z M4,15h8v-4H4V15zM12,1H4v4h1V2h6v3h1V1z M6,3v2h4V3H6z M12,7h-1v1h1V7z M12,9H4c-1.104,0-2,0.896-2,2v1h1v-1c0-0.553,0.447-1,1-1h8c0.553,0,1,0.447,1,1v1h1v-1C14,9.896,13.104,9,12,9z M14,7h-1v1h1V7z")
        %table
          %thead
            %td
            %th{:scope => "col"} 今天
            %th{:scope => "col"} 昨天
            %th{:scope => "col"} 15天
          %tbody
            %tr.evenRow
              %th{:scope => "row"} 新闻
              %td 28
              %td 166
              %td 1350
            %tr
              %th{:scope => "row"} 论坛
              %td 9
              %td 29
              %td 481
            %tr.evenRow
              %th{:scope => "row"} 博客
              %td 12
              %td 1
              %td 167
            %tr
              %th{:scope => "row"} 微博
              %td 12
              %td 1
              %td 167
        %ul
          %li
            %span.spanDot.dotRed
            新闻
          %li
            %span.spanDot.dotGrey
            论坛
          %li
            %span.spanDot.dotDeepRed
            博客
          %li
            %span.spanDot.dotDeepGrey
            微博
          %li
            %span.spanDot.dotDarkGrey
            贴吧