%section#otherChartBlock
  %section#qbdxChartBlock
    %header
      %h2 全部调性
    %section.chartTabs
      %ul
        %li
          %a#qbdxChartTab1.radiusBtn.currentChartTabBtn{:href => ""} 今天
        %li
          %a#qbdxChartTab2.radiusBtn.chartTabBtn{:href => ""} 昨天
        %li
          %a#qbdxChartTab3.radiusBtn.chartTabBtn{:href => ""} 15天
    %section.pieChartSection
      .pieChartWarp
        #qbdxPieChart
      .otherChartInfo
        %figure.dnp
          %a.downloadBtn.radiusBtn{:href => "#"}
          %a.printBtn.radiusBtn{:href => "#"}
        %table
          %thead
            %td
            %th{:scope => "col"} 今天
            %th{:scope => "col"} 昨天
            %th{:scope => "col"} 15天
          %tbody
            %tr.evenRow
              %th{:scope => "row"} 正面
              %td 28
              %td 166
              %td 1350
            %tr
              %th{:scope => "row"} 负面
              %td 9
              %td 29
              %td 481
            %tr.evenRow
              %th{:scope => "row"} 中性
              %td 12
              %td 1
              %td 167
        %ul
          %li
            %span.spanDot.dotRed>
            正面 70%
          %li
            %span.spanDot.dotGrey>
            中性 25%
          %li
            %span.spanDot.dotDeepRed>
            负面 5%
  %section#mediaChartBlock
    %header
      %h2 媒体类型
    %section.chartTabs
      %ul
        %li
          %a#mediaChartTab1.radiusBtn.currentChartTabBtn{:href => ""} 今天
        %li
          %a#mediaChartTab2.radiusBtn.chartTabBtn{:href => ""} 昨天
        %li
          %a#mediaChartTab3.radiusBtn.chartTabBtn{:href => ""} 15天
    %section.pieChartSection
      .pieChartWarp
        #mediaPieChart
      .otherChartInfo
        %figure.dnp
          %a.downloadBtn.radiusBtn{:href => "#"}
          %a.printBtn.radiusBtn{:href => "#"}
        %table
          %thead
            %td
            %th{:scope => "col"} 今天
            %th{:scope => "col"} 昨天
            %th{:scope => "col"} 15天
          %tbody
            %tr.evenRow
              %th{:scope => "row"} 新闻
              %td 28
              %td 166
              %td 1350
            %tr
              %th{:scope => "row"} 论坛
              %td 9
              %td 29
              %td 481
            %tr.evenRow
              %th{:scope => "row"} 博客
              %td 12
              %td 1
              %td 167
            %tr
              %th{:scope => "row"} 微博
              %td 12
              %td 1
              %td 167
        %ul
          %li
            %span.spanDot.dotRed
            新闻
          %li
            %span.spanDot.dotGrey
            论坛
          %li
            %span.spanDot.dotDeepRed
            博客
          %li
            %span.spanDot.dotDeepGrey
            微博
          %li
            %span.spanDot.dotDarkGrey
            贴吧