%section#realTimeChartBlock
  %header
    %h2 动态趋势图
  %aside
    %span#infoTotal
      %img{:alt => "", :src => "images/arrowDown.png"}/
      %strong -0.90%
      %span 今日信息总量
    %span#infoNegative
      %img{:alt => "", :src => "images/arrowDown.png"}/
      %strong -1.00%
      %span 今日负面
  %h5 最近15天监测总量走势
  %figure.dnp
    %a.downloadBtn.radiusBtn{:href => "#"}
    %a.printBtn.radiusBtn{:href => "#"}
  #lineChartWarp
    #lineChart
      