%section#weiboList
  %ul#weiboMiniList
    %li
      %span.weiboIcon24.spritebg
      %p.weiboListContent Out of the same door, but personality is different, Changhe Suzuki camp hi pass wonderful life. A00-Class has its
    %li
      %span.weiboIcon24.spritebg
      %p.weiboListContent Out of the same door, but personality is different, Changhe nderful life. A00-Class has its
    %li
      %span.weiboIcon24.spritebg
      %p.weiboListContent Out o door, but personality is different, Changhe Suzuki camp hi pass wonderful life. A00-Class has its
  #weiboListPageBtnBlock
    %a#pagePrevBtn.spritebg{:href => "#"}
    %a#pageNextBtn.spritebg{:href => "#"}
  %a#weiboListBtn.radiusBtn 微博列表