%section#weiboList
  .weiboDefaultList.weiboMiniList
    %ul
      %li
        %span.weiboIcon24.spritebg
        %p.weiboListContent
  #weiboListPageBtnBlock
    %a#pagePrevBtn.spritebg{:href => "#"}
    %a#pageNextBtn.spritebg{:href => "#"}
  %a#weiboListBtn.radiusBtn{:href => '#'}
    微博列表
    %span#iconbarWarp
      %span.iconbar
      %span.iconbar
      %span.iconbar