%section#weiboList
  %ul#weiboMiniList
    - @weibo_list.each do |weibo|
      %li
        %span.weiboIcon24.spritebg
        %p.weiboListContent= weibo['text']
  #weiboListPageBtnBlock
    %a#pagePrevBtn.spritebg{:href => "#"}
    %a#pageNextBtn.spritebg{:href => "#"}
  %a#weiboListBtn.radiusBtn 微博列表