#weiboTable
  %ul.tab-items
    %li
      %a{:href => "#table0", onFocus: "this.blur()"} 微博舆情
    %li
      %a{:href => "#table1", onFocus: "this.blur()"} 负面微博
    %li
      %a{:href => "#table2", onFocus: "this.blur()"} 最热传播
    %li
      %a{:href => "#table3", onFocus: "this.blur()"} 最热评论
  .tab-content
    - [0,1,2,3].each do |i|
      .tab-pane{ id: "table#{i}" }
        %table
          %thead
            %td
            %th.darkGreyThBg{:scope => "col"} 内容
            %th{:scope => "col"} 媒体
            %th{:scope => "col"} 时间
            %td
          %tbody
            - @weiboTable[i].each_with_index do |weibo,index|
              %tr{ class: index%2 == 1 ? "" : ".evenRow" }
                %th
                  %span.weiboIcon16.spritebg
                %td.weiboTableContent
                  = link_to weibo["text"], weibo["url"], target: '_blank'
                %td= weibo["media"]
                %td.weiboTimeTd= weibo["published_at"]
                %td
                  %a.closeLastestBtn.spritebg{ :href => "" }