/ begin global aside include system menu
%aside#globalAside
  = render 'aside'
/ begin page right warp
.rightWarp
  %section#weiboList
  #lastestUpdate
  %section#realTimeChartBlock.whenLess
  
  #moreInfoBlock
    = render 'otherChart'
    = render 'top10Chart'
    = render 'weiboTable'