.sprite-iconClose{  } 
.sprite-iconDownload{ background-position: -20px 0; width: 16px; height: 16px; } 
.sprite-iconHome{} 
.sprite-iconLess{  } 
.sprite-iconMonitoring{  } 
.sprite-iconMore{  } 
.sprite-iconNextPost{  } 
.sprite-iconOpinion{  } 
.sprite-iconPrevPost{  } 
.sprite-iconPrint{ background-position: -164px 0; width: 16px; height: 16px; } 
.sprite-iconReport{  } 
.sprite-iconSearch{ background-position: -206px 0; width: 16px; height: 16px; } 
.sprite-iconSensitive{  } 
.sprite-iconWeibo16{  } 
.sprite-iconWeibo24{  } 
.sprite-logoMain{  } 
.sprite-logoWeibo130{ background-position: -537px 0; width: 130px; height: 40px; } 
