.mainBanner
{
	width:100%;
	height:425px;
	background-color:#e74c3c;
	#mainCarousel
	{
		height:425px;
		background: url(homepage/homebanner_bg.png) #e74c3c scroll no-repeat;
		&.ui-carousel 
		{
			height: 100px;
			/*margin: 0;*/
			overflow: auto;
			padding: 0;
			position: relative; /*for ie7 to work e.g in html carousels*/
			width: 300px;
			& > .wrapper 
			{
			    margin: 0;
			    padding: 0;
			    width: 9999px;
			    & > * 
				{
					border: 0;
					display: block;
					float: left;
					height: 100px;
					overflow: hidden;
					width: 100px;	
				}
			}
		}

		.slide
		{
			margin: 0;
			position: relative;
			width:100%;
			height:425px;
			color:#FFFFFF;
			article
			{
				margin-top:52px;
				width:380px;
				height:100%;
				float:left;
				header > h2{font-size:30px;margin:0;}
				p
				{
					font-size:14px;
					font-weight: normal;
					margin:21px 0 0 0;
					line-height:20px
				}
				figure
				{
					margin-top:60px;
					img{margin-bottom:12px;}
					p
					{
						font-size: 10px;
						margin:0;
						line-height:14px;
					}
				}
			}
			section#macScreen
			{
				margin-top:52px;
				width:560px;
				height:100%;
				float:right;
				background: url(homepage/macscreen.png) scroll no-repeat;
				#my_video_1
				{
					margin-top:16px;
					margin-left:71px;
					display:none;
				}
				img#playBtn
				{
					margin-top:106px;
					margin-left:234px;
					cursor:pointer;
				}
			}
		}
	}
}
#carouselPagesWarper
{
	width:100%;
	height:75px;
	overflow:auto;
	#carouselPages
	{
		width:70px;
		margin:0 auto;
		margin-top:33px;
		height:15px;
		.bullet
		{
			display: block;
			float:left;
			width:8px;
			height:8px;
			border:1px solid #ebedee;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius:5px;
			margin-left: 5px;
			background-color:#ebedee;
		}
		.on
		{
			border-color:#e74c3c;
			background-color:#e74c3c;
		}
		.off
		{
			
			
		}
	}
}

.features
{

	article
	{
		box-sizing:border-box;
		border:1px solid #ecf0f1;
		background-color: #f9fafb;
		height:273px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		figure
		{
			width:100%;
			text-align: center;
			padding-top: 33px;
			height:90px;
			line-height:90px;
			
		}
		header > h3{font-size:14pt;color:#34495E;}
		p{font-size: 10pt;color:#7f8c8d;margin:0 auto;width:90%;}
		&:first-child
		{
			margin-left:0;
		}
	}
}

#functionList
{
	margin-top: 25px;
	border:1px solid #ecf0f1;
	background-color: #f9fafb;
	height:48px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	ul
	{
		float:left;
		width:700px;
		height:100%;
		margin:0;
		margin-left: 25px;	
		padding: 0;
		li
		{
			height:100%;
			display: inline;
			color:#7a8591;
			line-height:48px;
			a
			{
				margin-left:15px;
				color:#c1c7c8;
				text-decoration: underline;
			}
		}
	}
	a.radiusBtn
	{
		margin:10px 25px 0 0;
		float:right;
		display:block;
		width:85px;
		height:27px;
		border:1px solid #00a268;
		background-color:#00a268;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		line-height:27px;
		color:#FFFFFF;
	}
}

#services
{
	margin-top: 24px;
	margin-bottom: 75px;
	article
	{
		&:first-child
		{
			margin-left:0;
		}
		header#eyeHeader
		{
			background:url("homepage/icon_eye.png") scroll no-repeat 0 0;
			h1{line-height:34px}
		}
		header#chatHeader
		{
			background:url("homepage/qipao.png") scroll no-repeat 0 0;
			h1{line-height: 46px}
		}
		header > h1
		{
			height:51px;
			color:#34495E;
			font-size:36pt;
			font-weight: normal;
			display:inline-block;
			margin:0;
			margin-left:80px;
		}
		p
		{
			font-size:10.5pt;
			color:#7f8c8d;
		}
		figure
		{
			margin-top:18px;
		}
		figure#mtime
		{
			margin-top:38px;
		}
	}
}