@import "colorDefine";

/*======================================*/
/*	common								*/
/*======================================*/

.radiusBtn
{
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border-style:solid;
	border-width: 1px;
}

.floatBlock(@f:left, @w:0, @h:0, @d:block)
{
	float:@f;
	width:@w;
	height:@h;
	display:@d;
}

.centerBlock(@w:0, @h:0, @mt:0px, @mb:0px)
{
	width:@w;
	height:@h;
	margin:@mt auto @mb auto;
}

.colorfulDot(@c)
{
	background-color: @c;
	border-color: @c;
}

.blockH2
{
	font-size:18px;
	font-weight: normal;
	letter-spacing:5px;
	margin:0;
	height:35px;
}

.closeLastestBtn
{
	display:block;
}

#realTimeChartBlock header h2,
#qbdxChartBlock header h2,
#mediaChartBlock header h2,
#top10ChartBlock header h2
{
	.blockH2;
}

figure.dnp
{
	float:right;
	margin-right:50px;	
	height:35px;
	a
	{
		display:inline-block;
		width:48px;
		height:23px;
		background-color:#d3180f;
		background-repeat:no-repeat;
		background-position:17px 4px;
		border-color:#d3180f;
		text-align: center;
		svg
		{
			// margin-left:17px;
			margin-top:4px;
		}
	}
	.downloadBtn
	{
		margin-right:25px;
		// background-image:url("/assets/iconDownload.png");
	}
	.printBtn
	{
		// background-image:url("/assets/iconPrint.png");	
	}
}

/*=================================*/

.rightWarp 
{
	header#mainArticalHeader
	{
		width:880px;
		height:70px;
		margin:35px auto 0 auto;
		hgroup
		{
			display: inline-block;
			width:300px;
		}
		.mainH(@size, @color)
		{
			margin:0;padding:0;
			font-size:@size;
			font-weight:normal;
			color:@color;
		}
		h1
		{
			.mainH(24px, #333);
			height:35px;
		}
		h4
		{
			.mainH(16px, #8c8c8c)
		}
	}
	#searchInput
	{
		.floatBlock(right, 205px, 35px);
		background:url(/assets/iconSearch.png) @gainsboro no-repeat scroll 171px 10px;
		border-color:@gainsboro;	
		vertical-align:top;
		.radiusBtn;
	}

}

/*===========================================*/
/*			weibo list                    	 */
/*===========================================*/

#weiboList
{
	width:100%;
	height:68px;
	background-color:@gainsboroLighter;
	border-top:1px solid @gainsboro;
	border-bottom:1px solid @gainsboro;
	ul
	{
		margin:0;
		padding:0;
		margin-left:40px;
		.floatBlock(left,670px,68px);
		list-style: none;
		font-size:12px;
		color:#333;
		overflow: hidden;
		li
		{
			height:68px;
			position:relative;
			top:0;
			.weiboIcon24
			{
				.floatBlock(left, 24px, 24px);
				background-position: -267px 0;
				background-repeat:no-repeat;
				margin-top:20px;
			}
			.weiboListContent
			{
				.floatBlock(left, 620px, 68px);
				line-height:68px;
				margin:0;
				margin-left:25px;
				overflow: hidden;
				text-overflow:clip;
			}
		}
	}
	#weiboListPageBtnBlock
	{
		.floatBlock(left, 12px, 68px);
		a
		{
			display: block;
			width: 11px; 
			height: 9px;
		}
		#pagePrevBtn
		{
			background-position: -148px 0; 
			margin-top:16px;
		}
		#pageNextBtn
		{
			background-position: -114px 0;
			margin-top:18px;
		}
	}
	#weiboListBtn
	{
		.floatBlock(right, 143px, 38px);
		background-color:@fireEngineRed;
		border-color:@fireEngineRed;	
		text-align: center;
		line-height:38px;
		letter-spacing:1px;
		margin-top:14px;
		margin-right:40px;
	}
}


/*===================================*/
/*		lastest update				 */
/*===================================*/
#lastestUpdate
{
	.centerBlock(880px, 179px, 35px);
	overflow-y:hidden;
	.tab-content
	{
		width:880px;
		clear:both;
	}
	div.tab-pane
	{
		width:878px;
		height:120px;
		overflow:hidden;
		.lastestWeiboArticle
		{
			width:780px;
			margin-left:50px;
			float: left;
			header
			{
				width:780px;
				margin-top:10px;	
				h3
				{
					margin:0;
					padding:0;
					display:inline;
					line-height:35px;
					font-family:Arial;
					font-size:14px;
				}
				span
				{
					float:right;
				}
			}
			p
			{
				width:100%;
				height:45px;
				font-size:12px;
				font-family:Arial;
				margin:5px 0 0 0 ;
				overflow:hidden;
				text-overflow:hidden;
			}
			span
			{
				.floatBlock(right, 780px, 12px);
				font-size:12px;
				color:#808080;
				text-align: right
			}
		}
		.closeLastestBtn
		{
			float:left;
			margin-top:98px;
			margin-left:17px;	
		}
	}
}


/*================================*/
/*			real time chart		  */
/*================================*/
#realTimeChartBlock
{
	.centerBlock(878px, 348px, 35px);
	border:1px solid @gainsboro;
	background-color:white;
	header
	{
		width:778px;
		margin:0 auto;
		margin-top:35px;
	}
	aside
	{
		height:35px;
		width:100%;
		background-color:@whiteSmoke;
		span
		{
			display:inline-block;
			height:35px;
			line-height:35px;
			img
			{
				vertical-align:text-bottom;
			}
			strong
			{
				font-size:22px;
				color:#6c7273;
			}
			span
			{
				font-size:10px;
			}
		}
		#infoTotal
		{
			margin-left:50px;
		}
		#infoNegative
		{
			float:right;
			margin-right:50px;
		}
	}
	h5
	{
		font-size:12px;
		font-weight:normal;
		letter-spacing:2px;
		width:400px;
		float:left;
		margin-left:50px;
		margin-top:35px;
	}
	figure
	{
		margin-top:35px;
	}
	
	#lineChartWarp
	{
		.centerBlock(780px, 140px);
		clear:both;
	}
}



/*=======================================*/
/*			more info Block				 */
/*=======================================*/

#moreInfoBlock
{
	.centerBlock(880px, 1125px);
	// display:none;
	#otherChartBlock,
	#top10ChartBlock
	{
		width:778px;
		height:350px;
		border:1px solid @gainsboro;
		border-top:none;
		padding-left:50px;
		padding-right:50px;
		padding-top:35px;
		background-color:white;
	}
	#qbdxChartBlock,
	#mediaChartBlock
	{
		.floatBlock(left, 366px, 350px)
	}
	#mediaChartBlock
	{
		margin-left:45px;
	}
	#qbdxChartBlock header,
	#mediaChartBlock header
	{
		width:100%;
		/*margin-top:35px;*/
	}
}


.chartTabs
{
	max-width:366px;
	ul
	{
		margin:0;
		padding:0;
		width:100%;
		li
		{
			display:inline-block;
			margin-right:25px;
			&:last-child
			{
				margin-right:0;
			}
			a
			{
				display:block;
				width:100px;
				height:35px;
				line-height:35px;
				text-align:center;
				font-size:12px;
			}
			.currentChartTabBtn
			{
				background-color:@nevada !important;
				border-color: @nevada !important;
			}
			.chartTabBtn
			{
				background-color:@whiteSmoke;
				border-color: @whiteSmoke;
				color:#333;
			}
		}
	}
}

.pieChartSection
{
	width:100%;
	margin-top:35px;
}

.otherChartInfo
{
	float:right;
	text-align:right;
	width:205px;

	table
	{
		float:right;
		font-size:10px;
		font-weight:normal;
		width:169px;
		height:103px;
		border:1px solid @gainsboro;
		td,th
		{
			border:1px solid @gainsboro;
			text-align:center
		}
		thead
		{
			background-color:white;
		}
		tr.evenRow
		{
			background-color:@whiteSmoke;
		}
	}
	ul
	{
		list-style: none;
		margin:0;
		padding:0;	
		float:right;
		height:35px;
		li
		{
			display:inline;
			font-size:12px;
			height:35px;
			line-height:35px;
		}
	}
}

.spanDot
{
	display:inline-block;
	width:3px;
	height:3px;
	border-width:1px;
	border-style:solid;
	border-radius:3px;
	margin-right:5px;
}

.dotRed
{
	.colorfulDot(#d41810);
}

.dotGrey
{
	.colorfulDot(#e6e6e6);
}

.dotDeepRed
{
	.colorfulDot(#b2140c);
}

.dotDeepGrey
{
	.colorfulDot(#4e5457);
}

.dotDarkGrey
{
	.colorfulDot(#6c7273);
}

.pieChartWarp
{
	position:absolute !important;
	z-index:5 !important;
}

/*================================================*/
#top10ChartBlock
{
	section.chartTabs
	{
		float:left;
		position: relative;
		z-index:20;
	}
	figure
	{
		float:right;
		position: relative;/* make the figure and .chartTabs above the top 10 charts */
		z-index:20;
	}
	#top10ChartWarp
	{
		width:778px;
		height:280px;
		clear:both;
	}
}


/*============================================*/
/*		weibo table   						  */
/*============================================*/
#weiboTable
{
	margin-top:35px;
	.tab-items
	{
		max-width:724px !important;
	}
	.tab-pane
	{
		height:260px;
		width:880px;
		overflow: hidden;
		clear:both;
	}
	table
	{
		width:780px;
		height:247px;
		overflow: hidden;
		margin:0 auto;
		margin-top:10px;
		border-top:1px solid @gainsboro;
		font-size:12px;
		font-weight:normal;
		table-layout:fixed;
		thead
		{
			td
			{
				background-color:@whiteSmoke;
				border-bottom:1px solid @gainsboro;
			}
			td:first-child
			{
				background-color:@fireEngineRed;
				width:31px;
				height:34px;
				border-right:1px solid @gainsboro;
				border-bottom:1px solid @gainsboro;
			}
			th
			{
				background-color:@whiteSmoke;
				border-right:1px solid @gainsboro;
				border-bottom:1px solid @gainsboro;
			}
			.darkGreyThBg
			{
				background-color:@nevada;
				color:#FFFFFF;
				width:520px;
			}
		}
		tbody
		{
			tr
			{
				text-align:center;
				width:780px;
				height:35px;
			}
			tr.evenRow
			{
				background-color:@whiteSmoke;
			}
			td
			{
				border-right:1px solid @gainsboro;
				border-bottom:1px solid @gainsboro;
				height:35px;
			}
			td:last-child
			{
				border-right:none !important;
			}
			td.weiboTimeTd
			{
				-webkit-text-size-adjust:none;
				font-size:10px;
				font-family: Arial;
				width:118px;
			}

			td.weiboTableContent
			{
				width:523px;
				height:36px;
				text-align: left;
				white-space:nowrap;
				overflow:hidden;
				text-overflow:hidden;
				a{color:#000000;}
			}
			th
			{
				background-color:#ffffff;
				.weiboIcon16
				{
					display:block;
					background-position: -246px 0; 
					width: 16px;
					height: 16px;
				}
			}
		}
		.closeLastestBtn
		{
			margin:0 auto;
		}
	}
}


/*======================================================*/
/*				more info button						*/
/*======================================================*/
.lessMoreBtn
{
	width:170px;
	height:36px;
	float:right;
	margin-right:35px;
	margin-top:31px;
	a
	{
		display:block;
		width:170px;
		height:36px;
		text-align:center;
		line-height:36px;
		background-image:url("/assets/lessInfoBtn.png");
		font-size:12px;
		color:#6c7273;
	}
	.lessIcon
	{
		display:inline-block;
		background-position: -63px 0; width: 10px; height: 10px;
	}
	.moreIcon
	{
		display:inline-block;
		background-position: -99px 0; width: 10px; height: 10px;
	}
}
#globalFooter
{
	background:url("/assets/lessInfoBtnBottom.png") no-repeat scroll 1075px 0px;
}