/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import "colorDefine";
body
{
    font-family:"微软雅黑","宋体";
}
a
{
    text-decoration: none;
    color:#FFFFFF;
}
input{outline: none}
.spritebg
{
    background-image: url(/assets/csssprite.png);
}

#globalHeader
{
    width:100%;
    height:100px;
    background-color: @white;
    #headerWarp
    {
        width:1280px;
        height:100%;
        margin:0 auto;
    }
    .mainLogo
    {
        display:block;
        float:left;
        width: 230px;
        height: 47px;
        background: url(/assets/globalLogo.png) scroll no-repeat;
        margin:27px 0 0 60px;
    }
    .globalNav
    {
        float:left;
        display:block;
        width:600px;
        height:100%;
        margin-left:60px;
        ul
        {
            width:100%;
            text-align: left;
            margin:42px 0 0 0;
            padding:0;
            li
            {
                display: inline;
                margin-left:44px;
                &:first-child
                {
                    margin-left:28px;
                }
                a
                {
                    color:@gulfBlue;
                    font-size:14px;
                }
            }
        }
    }
    #searchInput
    {
        display:block;
        float:right;
        width: 220px;
        height: 39px;
        background:url(/assets/iconSearch.png) @white no-repeat scroll 190px 14px;
        border-color:@heather;    
        vertical-align:top;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        border-style:solid;
        border-width: 1px;
        color:@heather;
        margin:31px 60px 0 0;
    }
}


#mainBanner
{
    width:100%;
    height:148px;
    background-color:@cinnabar ;
    border-bottom:2px solid @venetianRed;
    #mainBannerWarp
    {
        width:1280px;
        height:100%;
        margin:0 auto;
        background:url("/assets/banner_bg.png") @cinnabar scroll no-repeat;
        overflow: hidden;
        div#avatar
        {
            width:100px;
            height:100px;
            -webkit-border-radius:1px;
            -moz-border-radius:1px;
            border-radius:1px;
            border:1px solid @persianRed;
            background-color: @white;
            margin:24px 30px 0 60px;
            float:left;
        }
        header
        {
            float:left;
            margin-top:49px;
            hgroup
            {
                h1{color:@white;margin:0;font-size:36px;padding:0;letter-spacing:8px;}
                h4{margin:0;font-size:20px;color:@white;opacity:0.6;}
            }
        }
    }
}




.mainContainer
{
    width:1200px;
    margin:0 auto;
    overflow: auto;
    background-color: @gulfBlue;
    /*-moz-box-shadow:0 5px 6px 0px rgba(0,0,0,0.55);
    -webkit-box-shadow:0 5px 6px 0px rgba(0,0,0,0.3);
    box-shadow:0 5px 6px 0px rgba(0,0,0,0.65);*/
}

#globalAside
{
    width:290px;    
    float:left;
    .systemNav ul
    {
        width:100%;
        margin:0;
        padding:0;
        li
        {
            width:100%;
            height:73px;            
            border-bottom:2px solid @madison;
            a
            {
                display: block;
                width:100%;
                height:73px;
                line-height:73px;
                font-size:14px;
                &:hover
                {
                    background-color:@nevada;
                    -moz-box-shadow:0 5px 6px 0px rgba(0,0,0,0.55) inset;
                    -webkit-box-shadow:0 5px 6px 0px rgba(0,0,0,0.3) inset;
                    -box-shadow:0 5px 6px 0px rgba(0,0,0,0.65) inset;
                }
                span
                {
                    display:inline-block;
                }
            }
            &:first-child
            {
                border-top:2px solid @madison;
                // border-top:none;
            }
            svg{margin-left:60px;vertical-align:middle;}
            .navIcon
            {
                display:none;
                margin-left:60px;
            }
            #systemNavIcon1
            {
                background-position: -41px 0; width: 17px; height: 15px; 
            }
            #systemNavIcon2
            {
                background-position: -130px 0; width: 17px; height: 16px;
            }
            #systemNavIcon3
            {
                background-position: -227px 0; width: 17px; height: 14px;
            }
            #systemNavIcon4
            {
                background-position: -185px 0; width: 17px; height: 13px;
            }
            #systemNavIcon5
            {
                background-position: -78px 0; width: 17px; height: 10px;
            }
            .sysNavChn{width:56px;margin-left:9px;}
            .sysNavEng{font-size:12px;color:#c5c6c7;margin-left: 5px;font-family:Arial;}
            .infoNum
            {
                float:right;
                margin-right:18px;
                display:inline;
                width:21px;
                height:21px;
                background-color:@jade;
                -webkit-border-radius:10px;
                -moz-border-radius:10px;
                border-radius:10px;
                margin-top:24px;
                line-height:22px;
                text-align: center;
            }
        }
    }    
}


.rightWarp
{
    float:left;
    width:910px;
    background-color:@white;
    /*height:1966px;*/
}

#globalFooter
{
    width:1280px;
    height:125px;
    margin:0 auto;
    color:@nevada;
    padding-top:35px;
    .companyLogo, 
    .companyInfo
    {
        width:1200px;
        height:35px;
        margin:0 auto;
    }
    .companyLogo
    {
        border-bottom:1px solid #d8d8d8;
        img,p{display:inline;}
    }
    .dnsLogo{float:right;}
    .icpNumber{font-size:10px;}
    .companyInfo{font-size:8px;margin-top:5px;}
    .companyName, .telAndFax{float:right;margin-left:25px;}
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}