%header.pageTitle.container
  %section.globalLogo
    #logo
      %img{:src => "/assets/globalLogo.png"}
    %input#searchInput.radiusBtn.pull-right{ type: "search", placeholder: "搜索" }
  .navbar
    .navbar-inner
      %ul.nav
        %li.text-center
          %a{:href => "#"} 首页
        %li.text-center
          %a{:href => "#"} 产品和服务
        %li.text-center
          %a{:href => "#"} 体验中心
        %li.text-center
          %a{:href => "#"} 成功案例
        %li.text-center
          %a{:href => "#"} 关于我们
        %li.text-center.active
          %a{:href => "#"} 
            系统登陆
            %svg(version="1.1" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16")
              %path(fill-opacity="0.3" fill="#FFFFFF" d="M14.346,6.766c-0.272-0.041-0.563-0.287-0.647-0.549L13.292,5.23c-0.128-0.243-0.098-0.622,0.067-0.843l0.659-0.879c0.165-0.22,0.151-0.567-0.031-0.775L13.265,2.01c-0.206-0.18-0.555-0.195-0.775-0.029l-0.878,0.658c-0.221,0.163-0.599,0.194-0.843,0.066L9.782,2.3C9.519,2.216,9.273,1.925,9.235,1.653L9.079,0.566C9.041,0.295,8.785,0.047,8.511,0.018c0,0-0.17-0.018-0.513-0.018C7.656,0,7.486,0.018,7.486,0.018c-0.273,0.03-0.529,0.277-0.568,0.548L6.763,1.653C6.725,1.925,6.478,2.216,6.216,2.3L5.229,2.706C4.986,2.834,4.606,2.803,4.386,2.639L3.508,1.981C3.288,1.815,2.939,1.829,2.733,2.01L2.01,2.733C1.828,2.941,1.814,3.288,1.979,3.508l0.659,0.879c0.165,0.22,0.195,0.6,0.068,0.843L2.299,6.217C2.215,6.478,1.924,6.725,1.651,6.766L0.565,6.919C0.293,6.959,0.047,7.214,0.018,7.487c0,0-0.018,0.171-0.018,0.512c0,0.344,0.018,0.514,0.018,0.514c0.029,0.273,0.275,0.53,0.547,0.569l1.086,0.153C1.924,9.276,2.215,9.52,2.299,9.783l0.408,0.987c0.127,0.244,0.097,0.622-0.068,0.844l-0.659,0.877c-0.165,0.22-0.204,0.519-0.088,0.664c0.117,0.145,0.451,0.502,0.452,0.502c0.001,0.001,0.114,0.105,0.25,0.231c0.136,0.126,0.695,0.298,0.914,0.133l0.879-0.659c0.22-0.165,0.599-0.195,0.842-0.067l0.987,0.406c0.263,0.083,0.509,0.375,0.547,0.648l0.156,1.085c0.038,0.274,0.294,0.52,0.568,0.549c0,0,0.17,0.018,0.513,0.018c0.343,0,0.513-0.018,0.513-0.018c0.273-0.028,0.529-0.275,0.567-0.549l0.156-1.085c0.038-0.273,0.284-0.565,0.547-0.648l0.987-0.406c0.243-0.128,0.622-0.098,0.843,0.067l0.879,0.659c0.221,0.165,0.569,0.152,0.775-0.031l0.722-0.721c0.182-0.207,0.195-0.557,0.03-0.777l-0.659-0.877c-0.165-0.221-0.195-0.6-0.067-0.844l0.407-0.987c0.084-0.262,0.375-0.507,0.647-0.548l1.086-0.153c0.272-0.039,0.518-0.296,0.548-0.569c0,0,0.018-0.169,0.018-0.514c0-0.341-0.018-0.512-0.018-0.512c-0.029-0.273-0.275-0.528-0.548-0.568L14.346,6.766z M7.999,10c-1.104,0-2-0.894-2-2.001c0-1.104,0.895-1.999,2-1.999c1.104,0,1.999,0.896,1.999,1.999C9.998,9.106,9.103,10,7.999,10z")
        
