%footer#globalFooter
  .companyLogo
    %img.skynetLogo{:alt => "天网", :src => "/assets/logoSkynet.png"}/
    %p.icpNumber 京ICP备1203889号
    %img.dnsLogo{:alt => "多信科技", :src => "/assets/logoDNS.png"}/
  .companyInfo
    %span.copyright © Copyright 2010-2013 DSN Technology Invest & Develop Co.,Ltd.
    %span.companyName 多信科技产业投资发展有限公司
    %span.telAndFax TEL: 86-021-54591660     FAX: 86-021-54591662