%footer#globalFooter
  %section.pageInfo
    %p.icp.clearfix
      %span.pull-left 京ICP备1203889号
      %span.pull-right 多信科技产业投资发展有限公司
    %p.mail
      %span.pull-left 
        %img{:src => "/assets/companymail.png"}
        INFO@NETPOM.COM
      %span.pull-right © COPYRIGHT 2010-2013 DSN TECHNOLOGY INVEST & DEVELOP CO,LTD.