%header#globalHeader
  #headerWarp
    %a.spritebg.mainLogo{:href => "/"}
    %nav.globalNav
      %ul.globalNavList
        %li
          %a{:href => "#", onFocus: "this.blur()"} 首页
        %li
          %a{:href => "#", onFocus: "this.blur()"} 产品和服务
        %li
          %a{:href => "#", onFocus: "this.blur()"} 体验中心
        %li
          %a{:href => "#", onFocus: "this.blur()"} 成功案例
        %li
          %a{:href => "#", onFocus: "this.blur()"} 关于我们
        %li
          %a{:href => "#", onFocus: "this.blur()"} 退出系统