%header#globalHeader
  #headerWarp
    %a.mainLogo{:href => "/"}
    %nav.globalNav
      %ul.globalNavList
        %li
          %a{:href => "/users/homepage", onFocus: "this.blur()"} 首页
        %li
          %a{:href => "/users/services"} 产品和服务
        %li
          %a{:href => "/users/experience"} 体验中心
        %li
          %a{:href => "/users/cases"} 成功案例
        %li
          %a{:href => "/users/about"} 关于我们
        %li
          %a{:href => "/users/logout", onFocus: "this.blur()"} 退出系统
    %input#searchInput.radiusBtn{ type: "search", placeholder: "搜索关键字" }

%section#mainBanner
  %div.mainBannerWarp
    %div.avatar
      %img{:src => "/assets/smileface.png"}
    %header
      %hgroup
        %h1= get_home_title("cn")
        %h4= get_home_title("en")
    #userSettingBtn
      %a.dropDown-collaspe{:href=>"#"} 
        用户设置&nbsp;&nbsp;
        %span#dropDownBtnArrow
      %ul#userSettingDropDown
        %li#dropDownArrow
          %span &#9670;
        %li
          %a.dropDown-setting{:href=>"#"} 系统设置
        %li
          %a.dropDown-updatePwd{:href=>"#"} 更改密码
        %li
          %a.dropDown-logout{:href=>"#"} 退出登陆

/ %section.floatMainBanner
/   %div.mainBannerWarp
/     %div.avatar
/       %img{:src => "/assets/smileface.png"}
/     %header
/       %hgroup
/         %h1= get_home_title("cn")
/         %h4= get_home_title("en")